In [1]:
import pandas as pd

archivo_csv = 'supermarket_sales - Sheet1.csv'

# Cargar el conjunto de datos en un DataFrame
data = pd.read_csv(archivo_csv)

# Obtener una lista con los nombres de las columnas
nombres_columnas = data.columns.tolist()

# Imprimir la lista de nombres de las columnas
print(nombres_columnas)

['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income', 'Rating']

In [2]:
# Nombres de las columnas originales en inglés
nombres_columnas_ingles = ['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender', 'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date', 'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income', 'Rating']

# Traducción de los nombres de las columnas al español
nombres_columnas_espanol = ['Número de factura', 'Sucursal', 'Ciudad', 'Tipo de cliente', 'Género', 'Línea de producto', 'Precio unitario', 'Cantidad', 'Impuesto 5%', 'Total', 'Fecha', 'Hora', 'Método de pago', 'Costo de bienes vendidos', 'Porcentaje de margen bruto', 'Ingreso bruto', 'Calificación']

# Cambiar los nombres de las columnas en el DataFrame
data.rename(columns=dict(zip(nombres_columnas_ingles, nombres_columnas_espanol)), inplace=True)

# Imprimir las primeras filas del DataFrame para verificar los cambios
print(data.head())

  Número de factura Sucursal     Ciudad Tipo de cliente  Género  \
0       750-67-8428        A     Yangon          Member  Female
1       226-31-3081        C  Naypyitaw          Normal  Female
2       631-41-3108        A     Yangon          Normal    Male
3       123-19-1176        A     Yangon          Member    Male
4       373-73-7910        A     Yangon          Normal    Male

        Línea de producto  Precio unitario  Cantidad  Impuesto 5%     Total  \
0       Health and beauty            74.69         7      26.1415  548.9715
1  Electronic accessories            15.28         5       3.8200   80.2200
2      Home and lifestyle            46.33         7      16.2155  340.5255
3       Health and beauty            58.22         8      23.2880  489.0480
4       Sports and travel            86.31         7      30.2085  634.3785

       Fecha   Hora Método de pago  Costo de bienes vendidos  \
0   1/5/2019  13:08        Ewallet                    522.83
1   3/8/2019  10:29           Cash                     76.40
2   3/3/2019  13:23    Credit card                    324.31
3  1/27/2019  20:33        Ewallet                    465.76
4   2/8/2019  10:37        Ewallet                    604.17

   Porcentaje de margen bruto  Ingreso bruto  Calificación
0                    4.761905        26.1415           9.1
1                    4.761905         3.8200           9.6
2                    4.761905        16.2155           7.4
3                    4.761905        23.2880           8.4
4                    4.761905        30.2085           5.3

Información del atributo
ID de factura: número de identificación de factura del comprobante de venta generado por computadora.

Sucursal: Sucursal del supercentro (hay 3 sucursales disponibles identificadas por A, B y C).

Ciudad: Ubicación de los supercentros.

Tipo de cliente: Tipo de clientes, registrado por Socios para clientes con tarjeta de socio y Normal para sin tarjeta de socio.

Género: Tipo de género del cliente.

Línea de productos: Grupos generales de categorización de artículos: accesorios electrónicos, accesorios de moda, alimentos y bebidas, salud y belleza, hogar y estilo de vida, deportes y viajes.

Precio unitario: Precio de cada producto en $.

Cantidad: Número de productos comprados por el cliente.

Impuesto: 5 % de tasa de impuesto para la compra del cliente.

Total: Precio total con impuestos.

Fecha: Fecha de compra (Registro disponible desde enero de 2019 a marzo de 2019).

Hora: Hora de compra (de 10 a 21 horas).

Pago: pago utilizado por el cliente para la compra (hay 3 métodos disponibles: efectivo, tarjeta de crédito y billetera electrónica).

COGS: Costo de los bienes vendidos.

Porcentaje de margen bruto: Porcentaje de margen bruto.

Ingresos brutos: Ingresos brutos.

Calificación: calificación de estratificación del cliente sobre su experiencia de compra general (en una escala del 1 al 10)

In [3]:
# Obtener información general sobre el conjunto de datos
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Número de factura           1000 non-null   object
 1   Sucursal                    1000 non-null   object
 2   Ciudad                      1000 non-null   object
 3   Tipo de cliente             1000 non-null   object
 4   Género                      1000 non-null   object
 5   Línea de producto           1000 non-null   object
 6   Precio unitario             1000 non-null   float64
 7   Cantidad                    1000 non-null   int64
 8   Impuesto 5%                 1000 non-null   float64
 9   Total                       1000 non-null   float64
 10  Fecha                       1000 non-null   object
 11  Hora                        1000 non-null   object
 12  Método de pago              1000 non-null   object
 13  Costo de bienes vendidos    1000 non-null   float64
 14  Porcentaje de margen bruto  1000 non-null   float64
 15  Ingreso bruto               1000 non-null   float64
 16  Calificación                1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB
None

In [4]:
# Estadísticas descriptivas para columnas numéricas
print(data.describe())

       Precio unitario     Cantidad  Impuesto 5%        Total  \
count      1000.000000  1000.000000  1000.000000  1000.000000
mean         55.672130     5.510000    15.379369   322.966749
std          26.494628     2.923431    11.708825   245.885335
min          10.080000     1.000000     0.508500    10.678500
25%          32.875000     3.000000     5.924875   124.422375
50%          55.230000     5.000000    12.088000   253.848000
75%          77.935000     8.000000    22.445250   471.350250
max          99.960000    10.000000    49.650000  1042.650000

       Costo de bienes vendidos  Porcentaje de margen bruto  Ingreso bruto  \
count                1000.00000                 1000.000000    1000.000000
mean                  307.58738                    4.761905      15.379369
std                   234.17651                    0.000000      11.708825
min                    10.17000                    4.761905       0.508500
25%                   118.49750                    4.761905       5.924875
50%                   241.76000                    4.761905      12.088000
75%                   448.90500                    4.761905      22.445250
max                   993.00000                    4.761905      49.650000

       Calificación
count    1000.00000
mean        6.97270
std         1.71858
min         4.00000
25%         5.50000
50%         7.00000
75%         8.50000
max        10.00000

In [5]:
# Valores únicos para la columna 'Tipo de cliente'
valores_tipo_cliente = data['Tipo de cliente'].unique()
print(f'Valores únicos para Tipo de cliente: {valores_tipo_cliente}')

# Valores únicos para la columna 'Género'
valores_genero = data['Género'].unique()
print(f'Valores únicos para Género: {valores_genero}')

# Valores únicos para la columna 'Línea de producto'
valores_linea_producto = data['Línea de producto'].unique()
print(f'Valores únicos para Línea de producto: {valores_linea_producto}')

# Valores únicos para la columna 'Método de pago'
valores_metodo_pago = data['Método de pago'].unique()
print(f'Valores únicos para Método de pago: {valores_metodo_pago}')

Valores únicos para Tipo de cliente: ['Member' 'Normal']
Valores únicos para Género: ['Female' 'Male']
Valores únicos para Línea de producto: ['Health and beauty' 'Electronic accessories' 'Home and lifestyle'
 'Sports and travel' 'Food and beverages' 'Fashion accessories']
Valores únicos para Método de pago: ['Ewallet' 'Cash' 'Credit card']

In [6]:
# Definir diccionarios de traducción
traduccion_tipo_cliente = {'Member': 'Miembro', 'Normal': 'Normal'}
traduccion_genero = {'Female': 'Femenino', 'Male': 'Masculino'}
traduccion_linea_producto = {
    'Health and beauty': 'Salud y belleza',
    'Electronic accessories': 'Accesorios electrónicos',
    'Home and lifestyle': 'Hogar y estilo de vida',
    'Sports and travel': 'Deportes y viajes',
    'Food and beverages': 'Alimentos y bebidas',
    'Fashion accessories': 'Accesorios de moda'
}
traduccion_metodo_pago = {'Ewallet': 'Billetera electrónica', 'Cash': 'Efectivo', 'Credit card': 'Tarjeta de crédito'}

# Aplicar la traducción directamente a las columnas del DataFrame
data['Tipo de cliente'] = data['Tipo de cliente'].map(traduccion_tipo_cliente).fillna(data['Tipo de cliente'])
data['Género'] = data['Género'].map(traduccion_genero).fillna(data['Género'])
data['Línea de producto'] = data['Línea de producto'].map(traduccion_linea_producto).fillna(data['Línea de producto'])
data['Método de pago'] = data['Método de pago'].map(traduccion_metodo_pago).fillna(data['Método de pago'])

# Imprimir las primeras filas del DataFrame para verificar los cambios
print(data.head())

  Número de factura Sucursal     Ciudad Tipo de cliente     Género  \
0       750-67-8428        A     Yangon         Miembro   Femenino
1       226-31-3081        C  Naypyitaw          Normal   Femenino
2       631-41-3108        A     Yangon          Normal  Masculino
3       123-19-1176        A     Yangon         Miembro  Masculino
4       373-73-7910        A     Yangon          Normal  Masculino

         Línea de producto  Precio unitario  Cantidad  Impuesto 5%     Total  \
0          Salud y belleza            74.69         7      26.1415  548.9715
1  Accesorios electrónicos            15.28         5       3.8200   80.2200
2   Hogar y estilo de vida            46.33         7      16.2155  340.5255
3          Salud y belleza            58.22         8      23.2880  489.0480
4        Deportes y viajes            86.31         7      30.2085  634.3785

       Fecha   Hora         Método de pago  Costo de bienes vendidos  \
0   1/5/2019  13:08  Billetera electrónica                    522.83
1   3/8/2019  10:29               Efectivo                     76.40
2   3/3/2019  13:23     Tarjeta de crédito                    324.31
3  1/27/2019  20:33  Billetera electrónica                    465.76
4   2/8/2019  10:37  Billetera electrónica                    604.17

   Porcentaje de margen bruto  Ingreso bruto  Calificación
0                    4.761905        26.1415           9.1
1                    4.761905         3.8200           9.6
2                    4.761905        16.2155           7.4
3                    4.761905        23.2880           8.4
4                    4.761905        30.2085           5.3

In [7]:
import numpy as np

# Número deseado de filas después de la generación
nuevas_filas_deseadas = 4000

# Número de filas originales
filas_originales = len(data)

# Calcular cuántas filas adicionales necesitas generar
filas_a_generar = nuevas_filas_deseadas - filas_originales

# Generar nuevas filas aleatorias basadas en las existentes y cambiar el 'Número de factura'
for _ in range(filas_a_generar):
    indice_fila_existente = np.random.randint(filas_originales)
    nueva_fila = data.iloc[indice_fila_existente].copy()  # Copiar la fila existente
    nueva_fila['Número de factura'] = 'NuevaFactura' + str(np.random.randint(1000, 9999))  # Modificar el número de factura
    data = pd.concat([data, pd.DataFrame([nueva_fila])], ignore_index=True)

In [8]:
# Columnas a las que quieres cambiar el punto por coma
columnas_a_modificar = ['Precio unitario', 'Impuesto 5%', 'Total', 'Costo de bienes vendidos', 'Porcentaje de margen bruto', 'Ingreso bruto', 'Calificación']

# Cambiar punto por coma solo en las columnas de tipo cadena
data[columnas_a_modificar] = data[columnas_a_modificar].astype(str).apply(lambda x: x.str.replace('.', ','))

# Imprimir las primeras filas del DataFrame para verificar los cambios
print(data.head())

  Número de factura Sucursal     Ciudad Tipo de cliente     Género  \
0       750-67-8428        A     Yangon         Miembro   Femenino
1       226-31-3081        C  Naypyitaw          Normal   Femenino
2       631-41-3108        A     Yangon          Normal  Masculino
3       123-19-1176        A     Yangon         Miembro  Masculino
4       373-73-7910        A     Yangon          Normal  Masculino

         Línea de producto Precio unitario  Cantidad Impuesto 5%     Total  \
0          Salud y belleza           74,69         7     26,1415  548,9715
1  Accesorios electrónicos           15,28         5        3,82     80,22
2   Hogar y estilo de vida           46,33         7     16,2155  340,5255
3          Salud y belleza           58,22         8      23,288   489,048
4        Deportes y viajes           86,31         7     30,2085  634,3785

       Fecha   Hora         Método de pago Costo de bienes vendidos  \
0   1/5/2019  13:08  Billetera electrónica                   522,83
1   3/8/2019  10:29               Efectivo                     76,4
2   3/3/2019  13:23     Tarjeta de crédito                   324,31
3  1/27/2019  20:33  Billetera electrónica                   465,76
4   2/8/2019  10:37  Billetera electrónica                   604,17

  Porcentaje de margen bruto Ingreso bruto Calificación
0                4,761904762       26,1415          9,1
1                4,761904762          3,82          9,6
2                4,761904762       16,2155          7,4
3                4,761904762        23,288          8,4
4                4,761904762       30,2085          5,3

In [9]:
# Convertir la columna 'Fecha' al tipo de dato datetime
data['Fecha'] = pd.to_datetime(data['Fecha'], format='%m/%d/%Y')

# Crear una nueva columna con el formato deseado
data['Fecha'] = data['Fecha'].dt.strftime('%d/%m/%Y')

# Visualizar el DataFrame con la nueva columna
print(data)

     Número de factura Sucursal     Ciudad Tipo de cliente     Género  \
0          750-67-8428        A     Yangon         Miembro   Femenino
1          226-31-3081        C  Naypyitaw          Normal   Femenino
2          631-41-3108        A     Yangon          Normal  Masculino
3          123-19-1176        A     Yangon         Miembro  Masculino
4          373-73-7910        A     Yangon          Normal  Masculino
...                ...      ...        ...             ...        ...
3995  NuevaFactura1442        A     Yangon         Miembro  Masculino
3996  NuevaFactura9176        A     Yangon          Normal  Masculino
3997  NuevaFactura1540        C  Naypyitaw         Miembro   Femenino
3998  NuevaFactura9066        C  Naypyitaw          Normal   Femenino
3999  NuevaFactura2365        C  Naypyitaw         Miembro  Masculino

            Línea de producto Precio unitario  Cantidad Impuesto 5%     Total  \
0             Salud y belleza           74,69         7     26,1415  548,9715
1     Accesorios electrónicos           15,28         5        3,82     80,22
2      Hogar y estilo de vida           46,33         7     16,2155  340,5255
3             Salud y belleza           58,22         8      23,288   489,048
4           Deportes y viajes           86,31         7     30,2085  634,3785
...                       ...             ...       ...         ...       ...
3995  Accesorios electrónicos           32,25         4        6,45    135,45
3996      Alimentos y bebidas           45,79         7     16,0265  336,5565
3997        Deportes y viajes           24,74         3       3,711    77,931
3998          Salud y belleza           10,99         5      2,7475   57,6975
3999      Alimentos y bebidas           94,26         4      18,852   395,892

           Fecha   Hora         Método de pago Costo de bienes vendidos  \
0     05/01/2019  13:08  Billetera electrónica                   522,83
1     08/03/2019  10:29               Efectivo                     76,4
2     03/03/2019  13:23     Tarjeta de crédito                   324,31
3     27/01/2019  20:33  Billetera electrónica                   465,76
4     08/02/2019  10:37  Billetera electrónica                   604,17
...          ...    ...                    ...                      ...
3995  13/02/2019  12:38  Billetera electrónica                    129,0
3996  13/03/2019  19:44     Tarjeta de crédito                   320,53
3997  15/02/2019  17:47     Tarjeta de crédito                    74,22
3998  23/01/2019  10:18     Tarjeta de crédito                    54,95
3999  12/03/2019  16:30               Efectivo                   377,04

     Porcentaje de margen bruto Ingreso bruto Calificación
0                   4,761904762       26,1415          9,1
1                   4,761904762          3,82          9,6
2                   4,761904762       16,2155          7,4
3                   4,761904762        23,288          8,4
4                   4,761904762       30,2085          5,3
...                         ...           ...          ...
3995                4,761904762          6,45          6,5
3996                4,761904762       16,0265          7,0
3997                4,761904762         3,711         10,0
3998                4,761904762        2,7475          9,3
3999                4,761904762        18,852          8,6

[4000 rows x 17 columns]

In [10]:
# Guardar el DataFrame aumentado en un nuevo archivo CSV con codificación 'latin-1'
data.to_csv('supermercado.csv', index=False, encoding='latin-1')

print(data)

     Número de factura Sucursal     Ciudad Tipo de cliente     Género  \
0          750-67-8428        A     Yangon         Miembro   Femenino
1          226-31-3081        C  Naypyitaw          Normal   Femenino
2          631-41-3108        A     Yangon          Normal  Masculino
3          123-19-1176        A     Yangon         Miembro  Masculino
4          373-73-7910        A     Yangon          Normal  Masculino
...                ...      ...        ...             ...        ...
3995  NuevaFactura1442        A     Yangon         Miembro  Masculino
3996  NuevaFactura9176        A     Yangon          Normal  Masculino
3997  NuevaFactura1540        C  Naypyitaw         Miembro   Femenino
3998  NuevaFactura9066        C  Naypyitaw          Normal   Femenino
3999  NuevaFactura2365        C  Naypyitaw         Miembro  Masculino

            Línea de producto Precio unitario  Cantidad Impuesto 5%     Total  \
0             Salud y belleza           74,69         7     26,1415  548,9715
1     Accesorios electrónicos           15,28         5        3,82     80,22
2      Hogar y estilo de vida           46,33         7     16,2155  340,5255
3             Salud y belleza           58,22         8      23,288   489,048
4           Deportes y viajes           86,31         7     30,2085  634,3785
...                       ...             ...       ...         ...       ...
3995  Accesorios electrónicos           32,25         4        6,45    135,45
3996      Alimentos y bebidas           45,79         7     16,0265  336,5565
3997        Deportes y viajes           24,74         3       3,711    77,931
3998          Salud y belleza           10,99         5      2,7475   57,6975
3999      Alimentos y bebidas           94,26         4      18,852   395,892

           Fecha   Hora         Método de pago Costo de bienes vendidos  \
0     05/01/2019  13:08  Billetera electrónica                   522,83
1     08/03/2019  10:29               Efectivo                     76,4
2     03/03/2019  13:23     Tarjeta de crédito                   324,31
3     27/01/2019  20:33  Billetera electrónica                   465,76
4     08/02/2019  10:37  Billetera electrónica                   604,17
...          ...    ...                    ...                      ...
3995  13/02/2019  12:38  Billetera electrónica                    129,0
3996  13/03/2019  19:44     Tarjeta de crédito                   320,53
3997  15/02/2019  17:47     Tarjeta de crédito                    74,22
3998  23/01/2019  10:18     Tarjeta de crédito                    54,95
3999  12/03/2019  16:30               Efectivo                   377,04

     Porcentaje de margen bruto Ingreso bruto Calificación
0                   4,761904762       26,1415          9,1
1                   4,761904762          3,82          9,6
2                   4,761904762       16,2155          7,4
3                   4,761904762        23,288          8,4
4                   4,761904762       30,2085          5,3
...                         ...           ...          ...
3995                4,761904762          6,45          6,5
3996                4,761904762       16,0265          7,0
3997                4,761904762         3,711         10,0
3998                4,761904762        2,7475          9,3
3999                4,761904762        18,852          8,6

[4000 rows x 17 columns]